body{
  font-family: sans-serif;
  color: black;

}

.outer{
  text-align: left;
}

.page{

  width: 1200px;
  width: 100%;
  display: inline-block;
  background-color: white;
}

.topnav{
  background-color: black;
  height:100px;
  text-align: left;

}

.layout{
	width:100%;
	height: 100px;
	background-color: #f5eaea;

}


/* HERO IMAGE */


.hero_content img{
	width:100%;
}

.main_text{
  height:100%;
  overflow: auto;
  text-align: center;
  font-size: 40px
  border: 1px solid;
  text-align: left;
  padding-left: 400px

}

.main_section{
  color: green;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 40px

}

/* SIDEBAR COMPONENT */

.side_bar{
  margin-right: 50px;



}

.side_bar img{
	float: right;
  padding-right: 20px
}


.side_bar .section{
   color: green;
   text-transform: uppercase;
   font-weight: bold;
   font-size: 30px


}

.logo{
  height:100%;
  overflow: auto;
  margin-top:100px;
  margin-bottom:90px;
  text-align: center;
  font-size: 20px

}


.side_bar:hover{
  animation-fill-mode: forwards;
  animation-name: changescale;
  animation-duration: 3s;
  animation-timing-function:ease-in-out;
}

@keyframes changescale{
  from{ transform: scale(1, 1)}
  to{transform: scale(1.5,1.5)}
}


/* [class^="side_bar"] element that starts with */
div [class^="side_bar"]:first-of-type {
    margin: 0px;

}

div [class^="side_bar"]:last-of-type {
    margin: 0px;

}
